@font-face {
  src: url(../fonts/AcuminPro-BlackItalic.woff2);
  font-family: AcuminPro;
  font-weight: 900;
  font-style: italic;
}
@font-face {
  src: url(../fonts/AcuminProCond-BoldItalic.woff2);
  font-family: AcuminProCond;
  font-weight: 900;
  font-style: italic;
}
@font-face {
  src: url(../fonts/AcuminProCond-SemiboldItalic.woff2);
  font-family: AcuminProCond;
  font-weight: 700;
  font-style: italic;
}
@font-face {
  src: url(../fonts/AcuminProCond-Semibold.woff2);
  font-family: AcuminProCond;
  font-weight: 700;
  font-style: bold;
}
@font-face {
  src: url(../fonts/AcuminProCond-MediumItalic.woff2);
  font-family: AcuminProCond;
  font-weight: 600;
  font-style: italic;
}
@font-face {
  src: url(../fonts/AcuminProCond-Medium.woff2);
  font-family: AcuminProCond;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  src: url(../fonts/AcuminProCond-Italic.woff2);
  font-family: AcuminProCond;
  font-weight: 500;
  font-style: italic;
}

@font-face {
  src: url(../fonts/AcuminProCond-LightItalic.woff2);
  font-family: AcuminProCond;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  src: url(../fonts/AcuminProCond-Regular.woff2);
  font-family: AcuminProCond;
  font-weight: 200;
  font-style: normal;
}
@font-face {
  src: url(../fonts/AcuminProCond-Light.woff2);
  font-family: AcuminProCond;
  font-weight: 100;
  font-style: normal;
}

strong {
  font-weight: bold;
}
