.slider {
  position: relative;

  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      width: 100px;

      @include mq(m) {
        width: 0px;
      }
    }
  }
}

.slide-product {
  outline: none !important;
  position: relative;
  margin: 0 1%;
  width: 16% !important;

  @include mq(l) {
    width: 22% !important;
  }
  @include mq(ms) {
    width: 26% !important;
  }
  @include mq(m) {
    width: 42% !important;
  }

  .new-icon-s {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2.2em;
    margin-left: 2em;
    z-index: 60;

    background-image: linear-gradient(
      to bottom,
      #174e68,
      #1b5672,
      #1f5f7c,
      #226787,
      #267091
    );
    box-shadow: 3px 2px 4px 0px rgba(0, 0, 0, 0.3);
    @include mq(m) {
      margin-left: 1em;
    }

    > span {
      color: #fff;
      @include APC-Medium-Italic;
      font-size: 2rem;
      padding: 0.7em;
      letter-spacing: 0.5px;
      @include mq(m) {
        font-size: 1.5rem;
      }
    }
  }

  .offer-icon-s {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2.2em;
    margin-left: 2em;
    z-index: 60;
    background-color: #ba4242;
    box-shadow: 3px 2px 4px 0px rgba(0, 0, 0, 0.3);
    @include mq(m) {
      margin-left: 1em;
    }

    > span {
      color: #fff;
      @include APC-Medium-Italic;
      font-size: 1.9rem;
      padding: 0.7em;
      letter-spacing: 0.5px;
      @include mq(m) {
        font-size: 1.5rem;
      }
    }
  }

  .icon-360 {
    position: absolute;
    right: 5px;
    top: -25px;
    z-index: 60;

    @include mq(m) {
      width: 32%;
      top: -21px;
    }
  }

  .image-wrap {
    display: flex;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms ease-in;
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.2);

    &:hover {
      box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
    }

    &:before {
      display: block;
      content: "";
      padding-top: (1000 / 1000) * 100%;
    }

    .product-image {
      width: 100%;
      align-self: center;
      position: absolute;
      transition: all 0.2s ease-in-out;
    }

    .rating {
      position: absolute;
      display: flex;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: 2%;

      > img {
        margin: 0 auto;
        width: 30%;

        @include mq(m) {
          width: 50%;
        }
      }
    }

    .product-image-overlay {
      background-color: rgba(18, 18, 18, 0.06);
      position: relative;
      width: 100%;
      z-index: 50;
      pointer-events: none;
    }
  }

  .title {
    display: flex;
    width: 100%;
    margin: 0.5em 0 0.5em 0;
    align-items: center;
    position: relative;
    > a {
      @include APC-Bold-Italic;
      width: 90%;
      text-decoration: none;
      color: #393939;
      font-size: 2.2rem;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      @include mq(m) {
        font-size: 1.8rem;
        margin-top: 0.8em;
      }
    }
    .compare-product {
      width: 40px;
      height: 40px;
      margin-left: auto;
      position: absolute;
      cursor: pointer;
      right: 0;

      @include mq(m) {
        top: -50%;
        right: 2%;
        width: 30px;
        height: 30px;
        background-color: #fff;
        border: 1px solid #d0d0d0;
        border-radius: 50%;
        z-index: 50;
      }

      &.active {
        background-color: rgba(255, 255, 255, 0.872);
        border-radius: 50%;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.447);
      }

      &:hover {
        .hover {
          visibility: visible;
          opacity: 0.8;
          transform: translateY(0);
        }
      }

      > img {
        padding: 0.2em;
        margin: 0 auto;
      }

      .hover {
        position: absolute;
        opacity: 0;
        border-radius: 2px;
        background: #000000;
        border: 4px solid #000000;
        color: #fff;
        font-size: 1.4rem;
        padding: 0.6em 1em;
        top: -130%;
        right: -35%;
        transform: translateY(50%);
        transition: all 250ms ease-in-out;

        @include mq(m) {
          display: none;
        }

        &::before {
          top: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          border-color: rgba(0, 0, 0, 0);
          border-top-color: #000000;
          border-width: 14px;
          margin-left: -14px;
        }
      }
    }
  }
  .price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;

    @include mq(m) {
      margin-top: 5px;
    }
    > span {
      font-size: 2.6rem;
      @include APC-Bold-Italic;
      color: #b20000;
      margin-right: 10px;
      @include mq(m) {
        font-size: 2.1rem;
      }
      &:nth-child(2n) {
        color: #393939;
        text-decoration: line-through;
        font-size: 2rem;
        @include mq(m) {
          font-size: 1.5rem;
        }
      }
    }
    .buy {
      display: none;
      margin-left: auto;

      justify-content: center;
      align-items: center;
      font-size: 1.8rem;
      background-color: $green;
      color: #fff;
      text-transform: uppercase;
      cursor: pointer;
      height: 35px;
      width: 33%;
      box-shadow: 0px 2px 1px #729800;
      text-shadow: 1px 1px 1px #9d9d9d;
      box-shadow: 2px 2px 1px #729800;
      transform: skewX(-10deg);
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #3b3c39;
        box-shadow: 2px 2px 10px #1c1c1c;
      }

      &:active {
        background-color: #010101;
      }

      span {
        transform: skewX(10deg);
        margin-top: 5px;
        @include APC-Bold-Italic;
      }
    }
  }
}
.slide-product-long {
  outline: none !important;
  position: relative;
  margin: 0 1%;
  width: 34% !important;

  @include mq(l) {
    width: 47% !important;
  }
  @include mq(ms) {
    width: 55% !important;
  }
  @include mq(m) {
    width: 89% !important;
  }
}

.new-icon-s {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -2.2em;
  margin-left: 2em;
  z-index: 60;

  background-image: linear-gradient(
    to bottom,
    #174e68,
    #1b5672,
    #1f5f7c,
    #226787,
    #267091
  );
  box-shadow: 3px 2px 4px 0px rgba(0, 0, 0, 0.3);
  @include mq(m) {
    margin-left: 1em;
  }

  > span {
    color: #fff;
    @include APC-Medium-Italic;
    font-size: 2rem;
    padding: 0.7em;
    letter-spacing: 0.5px;
    @include mq(m) {
      font-size: 1.5rem;
    }
  }
}

.offer-icon-s {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -2.2em;
  margin-left: 2em;
  z-index: 60;
  background-color: #ba4242;
  box-shadow: 3px 2px 4px 0px rgba(0, 0, 0, 0.3);
  @include mq(m) {
    margin-left: 1em;
  }

  > span {
    color: #fff;
    @include APC-Medium-Italic;
    font-size: 1.9rem;
    padding: 0.7em;
    letter-spacing: 0.5px;
    @include mq(m) {
      font-size: 1.5rem;
    }
  }
}

.icon-360 {
  position: absolute;
  right: 5px;
  top: -25px;
  z-index: 60;

  @include mq(m) {
    width: 32%;
    top: -21px;
  }
}

.image-wrap {
  display: flex;
  position: relative;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
  transition: all 300ms ease-in;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
  }

  &:before {
    display: block;
    content: "";
    padding-top: (1000 / 1000) * 47%;
  }

  .product-image {
    width: 100%;
    align-self: center;
    position: absolute;
    transition: all 0.2s ease-in-out;
  }

  .rating {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 2%;

    > img {
      margin: 0 auto;
      width: 30%;

      @include mq(m) {
        width: 50%;
      }
    }
  }

  .product-image-overlay {
    background-color: rgba(18, 18, 18, 0.06);
    position: relative;
    width: 100%;
    z-index: 50;
    pointer-events: none;
  }
}
.title {
  display: flex;
  width: 100%;
  margin: 0.5em 0 0.5em 0;
  align-items: center;
  position: relative;
  > a {
    @include APC-Bold-Italic;
    width: 90%;
    text-decoration: none;
    color: #393939;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    @include mq(m) {
      font-size: 1.8rem;
      margin-top: 0.8em;
    }
  }
  .compare-product {
    width: 40px;
    height: 40px;
    margin-left: auto;
    position: absolute;
    cursor: pointer;
    right: 0;

    @include mq(m) {
      top: -50%;
      right: 2%;
      width: 30px;
      height: 30px;
      background-color: #fff;
      border: 1px solid #d0d0d0;
      border-radius: 50%;
      z-index: 50;
    }

    &.active {
      background-color: rgba(255, 255, 255, 0.872);
      border-radius: 50%;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.447);
    }

    &:hover {
      .hover {
        visibility: visible;
        opacity: 0.8;
        transform: translateY(0);
      }
    }

    > img {
      padding: 0.2em;
      margin: 0 auto;
    }

    .hover {
      position: absolute;
      opacity: 0;
      border-radius: 2px;
      background: #000000;
      border: 4px solid #000000;
      color: #fff;
      font-size: 1.4rem;
      padding: 0.6em 1em;
      top: -130%;
      right: -35%;
      transform: translateY(50%);
      transition: all 250ms ease-in-out;

      @include mq(m) {
        display: none;
      }

      &::before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        border-color: rgba(0, 0, 0, 0);
        border-top-color: #000000;
        border-width: 14px;
        margin-left: -14px;
      }
    }
  }
}
.price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;

  @include mq(m) {
    margin-top: 5px;
  }
  > span {
    font-size: 2.6rem;
    @include APC-Bold-Italic;
    color: #b20000;
    margin-right: 10px;
    @include mq(m) {
      font-size: 2.1rem;
    }
    &:nth-child(2n) {
      color: #393939;
      text-decoration: line-through;
      font-size: 2rem;
      @include mq(m) {
        font-size: 1.5rem;
      }
    }
  }
  .buy {
    display: none;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    background-color: $green;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    height: 35px;
    width: 33%;
    box-shadow: 0px 2px 1px #729800;
    text-shadow: 1px 1px 1px #9d9d9d;
    box-shadow: 2px 2px 1px #729800;
    transform: skewX(-10deg);
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #3b3c39;
      box-shadow: 2px 2px 10px #1c1c1c;
    }

    &:active {
      background-color: #010101;
    }

    span {
      transform: skewX(10deg);
      margin-top: 5px;
      @include APC-Bold-Italic;
    }
  }
}
