@font-face {
    font-family: 'Acumin Pro';
    src: url('AcuminPro-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url('AcuminProCond-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('AcuminPro-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url('AcuminProCond-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url('AcuminProCond-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('AcuminPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('AcuminPro-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('AcuminPro-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url('AcuminProCond-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url('AcuminProCond-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('AcuminPro-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('AcuminPro-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('AcuminPro-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url('AcuminProCond-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url('AcuminProCond-UltraBlack.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('AcuminPro-UltraBlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('AcuminPro-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('AcuminPro-UltraBlack.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url('AcuminProCond-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url('AcuminProCond-SemiboldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('AcuminPro-SemiboldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('AcuminPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url('AcuminProCond-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url('AcuminProCond-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url('AcuminProCond-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('AcuminPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url('AcuminProCond-UltraBlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('AcuminPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('AcuminPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('AcuminPro-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url('AcuminProCond-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url('AcuminProCond-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url('AcuminProCond-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url('AcuminProCond-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('AcuminPro-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url('AcuminProCond-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

